<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
<!-- <script id="stripe-js" src="https://js.stripe.com/v3/" async></script> -->

    </head>
    <body>
        {% block body %}{% endblock %}     
        {% block javascripts %}{% endblock %}
    </body>
</html>
