@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
/* The ribbons */

.corner-ribbon {
  background: #e43;
  position: absolute;
  z-index: 4;
  text-align: center;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

/* Custom styles */
/* 
.corner-ribbon.sticky {
  position: fixed;
} */

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.mrgn {
  margin-right: 25px;
  margin-left: 25px;
}
/* Different positions */

/* .corner-ribbon.top-left {
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
 */
.corner-ribbon.top-right {
  top: 21px;
  right: -12px;
  padding: 0.15em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* .corner-ribbon.bottom-left {
   top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

/* .corner-ribbon.bottom-right {
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
} */
:host ::ng-deep .carousel {
  height: 500px !important;
  margin-bottom: 2.5em;
}

:host ::ng-deep .carousel-cell {
  width: 28em !important;
  padding: 1em !important;
}
/* Colors */
/* :host ::ng-deep .card img {
  width: 15em !important;
} */

.corner-ribbon.white {
  background: #f0f0f0;
  color: #555;
}
.corner-ribbon.black {
  background: #333;
}
.corner-ribbon.grey {
  background: #999;
}
.corner-ribbon.blue {
  background: #39d;
}
.corner-ribbon.green {
  background: #2c7;
}
.corner-ribbon.turquoise {
  background: #1b9;
}
.corner-ribbon.purple {
  background: #95b;
}
.corner-ribbon.red {
  background: #e43;
}
.corner-ribbon.orange {
  background: #e82;
}
.corner-ribbon.yellow {
  background: #ec0;
}
