<p-carousel [value]="competitions" styleClass="custom-carousel" [numVisible]="2" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" >
  <ng-template pTemplate="header">
      <h5>Competitions List</h5>
  </ng-template>
  <ng-template let-competition pTemplate="item">
    <div class="card mb-4 mrgn">
      <a href="#!"
        ><img
          class="card-img-top"
          src="../../../assets/images/pitch.jfif"
          alt="pitch picture"
      /></a>
      <div class="card-body">
        <div class="small text-muted">January 1, 2021</div>
        <h2 class="card-title">{{ competition.terrain }}</h2>
        <p class="card-text">
          competition time : {{ competition?.timeCom | date: "shortTime" }}
        </p>
        <a class="btn btn-primary" href="#!">Read more →</a>
      </div>
    </div>
  </ng-template>
</p-carousel>


