.ms-auto {
  margin-left: auto !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}

.list-group {
  width: 35%;
  position: absolute;
  right: 5%;
}

.res-icon {
  cursor: pointer;
}

button {
  display: inline-block;
  background-color: #04884a;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  width: 120px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }

  button:hover {
    background-color: rgb(0, 95, 13);
    }
