body {
  background: #f5f5f5;
}

.rounded {
  border-radius: 1rem;
}

.nav-pills .nav-link {
  color: #555;
}

.nav-pills .nav-link.active {
  color: white;
}

input[type="radio"] {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}
.date-picker {
  width: 100;
}

:host ::ng-deep .p-calendar .p-datepicker {
  min-width: 100%;
  z-index: 5;
  margin-bottom: 6em;
}
